<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google AI for Developers MediaPipe Vision Demo</title>
    <!-- Get stylesheet from static route for index.html others use public -->
    <link rel="stylesheet" href="/public/css/main.css"> <!-- Consistent path for all pages -->
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&amp;display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
</head>
<body>
    <header>
        <h1>Computer Vision Demo - Gazed!</h1>
    </header>

    <nav>
        <a href="/hand_face_detection" id="hand-face-link">Hand and Face Detection</a><br><br>
    </nav>

</body>
</html>
